.loader {
  position: fixed;
  inset: 0;
  z-index: 1;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;

  &_spinner {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #016eb6;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  &_text {
    width: 60px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side, #000 90%, #0000) 0 /
      calc(100% / 3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }

  &_button {
    position: absolute;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
