.icons8-twitter {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciICB2aWV3Qm94PSIwIDAgNTAgNTAiIHdpZHRoPSI1MHB4IiBoZWlnaHQ9IjUwcHgiPjxwYXRoIGQ9Ik0gMTEgNCBDIDcuMTQ1NjY2MSA0IDQgNy4xNDU2NjYxIDQgMTEgTCA0IDM5IEMgNCA0Mi44NTQzMzQgNy4xNDU2NjYxIDQ2IDExIDQ2IEwgMzkgNDYgQyA0Mi44NTQzMzQgNDYgNDYgNDIuODU0MzM0IDQ2IDM5IEwgNDYgMTEgQyA0NiA3LjE0NTY2NjEgNDIuODU0MzM0IDQgMzkgNCBMIDExIDQgeiBNIDExIDYgTCAzOSA2IEMgNDEuNzczNjY2IDYgNDQgOC4yMjYzMzM5IDQ0IDExIEwgNDQgMzkgQyA0NCA0MS43NzM2NjYgNDEuNzczNjY2IDQ0IDM5IDQ0IEwgMTEgNDQgQyA4LjIyNjMzMzkgNDQgNiA0MS43NzM2NjYgNiAzOSBMIDYgMTEgQyA2IDguMjI2MzMzOSA4LjIyNjMzMzkgNiAxMSA2IHogTSAxMy4wODU5MzggMTMgTCAyMi4zMDg1OTQgMjYuMTAzNTE2IEwgMTMgMzcgTCAxNS41IDM3IEwgMjMuNDM3NSAyNy43MDcwMzEgTCAyOS45NzY1NjIgMzcgTCAzNy45MTQwNjIgMzcgTCAyNy43ODkwNjIgMjIuNjEzMjgxIEwgMzYgMTMgTCAzMy41IDEzIEwgMjYuNjYwMTU2IDIxLjAwOTc2NiBMIDIxLjAyMzQzOCAxMyBMIDEzLjA4NTkzOCAxMyB6IE0gMTYuOTE0MDYyIDE1IEwgMTkuOTc4NTE2IDE1IEwgMzQuMDg1OTM4IDM1IEwgMzEuMDIxNDg0IDM1IEwgMTYuOTE0MDYyIDE1IHoiLz48L3N2Zz4=")
    50% 50% no-repeat;
  background-size: 100%;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}