.card {
  $parent: &;

  &_title {
    margin-left: 10px;
  }

  &_container {
    > * {
      margin-top: 5px;
    }
  }

  &::ng-deep {
    #{$parent}_list {
      li {
        margin-top: 5px;
        font-style: italic;
      }
    }
  }
}
