.pill {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;

  &.primary {
    color: #fff;
    background-color: #007bff;
  }
  &.secondary {
    color: #fff;
    background-color: #6c757d;
  }
  &.success {
    color: #fff;
    background-color: #28a745;
  }
  &.danger {
    color: #fff;
    background-color: #dc3545;
  }
  &.warning {
    color: #212529;
    background-color: #ffc107;
  }
  &.info {
    color: #fff;
    background-color: #17a2b8;
  }

  &_icon {
    margin-right: 5px;
  }
}
