.wrapper {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
  position: relative;
  &::before {
    content: "\26C9 Component";
    font-size: 10px;
    color: #1c708c;
  }
}

.wrapper-pipe {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
  position: relative;
  &::before {
    content: "\26C9 Pipe";
    font-size: 10px;
    color: #1c708c;
  }
}

.wrapper-directive {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px;
  position: relative;
  &::before {
    content: "\26C9 Directive";
    font-size: 10px;
    color: #1c708c;
  }
}

.wrapper-miscellaneous {
  border: 1px solid rgb(128, 128, 128);
  padding: 10px;
  margin: 10px;
  position: relative;
  &::before {
    content: "\26C9 Miscellaneous";
    font-size: 10px;
    color: #1c708c;
  }
}
