<div class="icon-bar">
  <a href="#" title="facebook"
    ><img
      width="50"
      height="50"
      src="https://img.icons8.com/ios/50/facebook-new.png"
      alt="facebook-new"
  /></a>
  <a href="#" title="twitter"
    ><img
      width="50"
      height="50"
      src="https://img.icons8.com/ios/50/twitterx--v2.png"
      alt="twitterx--v2"
  /></a>
  <a href="#" title="google"
    ><img
      width="50"
      height="50"
      src="https://img.icons8.com/ios/50/google-logo--v1.png"
      alt="google-logo--v1"
  /></a>
  <a href="#" title="linkedin"
    ><img
      width="50"
      height="50"
      src="https://img.icons8.com/ios/50/linkedin.png"
      alt="linkedin"
  /></a>
  <a href="#" title="youtube"
    ><img
      width="50"
      height="50"
      src="https://img.icons8.com/ios/50/youtube--v1.png"
      alt="youtube--v1"
  /></a>
</div>
