<!-- Validation rules -->
<!-- Required min length of 8 -->
<!-- 1 or more capital letter -->
<!-- 1 or more number -->
<!-- 1 or more special characters -->

<form [formGroup]="form" class="form">
  <div>
    <label for="password">Enter a password:</label>
  </div>
  <br />
  <input
    formControlName="password"
    id="password"
    type="password"
    placeholder="Enter a password"
  />
  @if (isInvalidAndTouchedOrDirty(getFormControl("password"))) {
    @if (getFormControl("password").errors?.["required"]) {
      <p class="form_error">A password is required !</p>
    }
    @if (getFormControl("password").errors?.["minlength"]) {
      <p class="form_error">A minimum length of 8 is required !</p>
    }
    @if (getFormControl("password").errors?.["containsUppercase"]) {
      <p class="form_error">At least one capital letter is required !</p>
    }
    @if (getFormControl("password").errors?.["containsDigit"]) {
      <p class="form_error">At least one digit is required !</p>
    }
    @if (getFormControl("password").errors?.["containsSpecialCharacter"]) {
      <p class="form_error">At least one special character is required !</p>
    }
  }
</form>
<br />
<app-progressbar
  [value]="progressBarValueComputed()"
  [withUpdateButton]="false"
></app-progressbar>
