.group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;

  &_button {
    background-color: #04aa6d;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;

    &:not(:last-child) {
      border-right: none;
    }

    &:first-of-type {
      border-radius: 5px 0 0 5px;
    }
    &:last-of-type {
      border-radius: 0 5px 5px 0;
    }
    &:hover,
    &.active {
      background-color: #3e8e41;
    }
  }
}
