<div [attr.data-container]="'container'">
  <div class="group" [attr.data-group]="'group'">
    @for (item of data(); track item.id) {
      <button
        [attr.data-button]="'button'"
        (click)="onSelectItem(item)"
        [class.active]="item.id === selection()?.id"
        class="group_button"
      >
        {{ item.title }}
      </button>
    }
  </div>
  @if (selection()) {
    <p [attr.data-selection-display]="'selection-display'">
      Current selection: {{ selection()?.title }}
    </p>
  }
</div>
