<section>
  <h1>RxJs Challenges</h1>

  <app-container [title]="'Emits the characters A, B and C'">
    <div>{{ characters$ | async }}</div>
  </app-container>

  <app-container
    [title]="'Emits every printable ASCII character in ascending order'"
  >
    <button (click)="canPrintASCIICharacters.set(true)">
      Click to print ASCII characters
    </button>
    <ul style="column-count: 15">
      @if (canPrintASCIICharacters()) {
        @for (item of asciiNumbers(); track $index) {
          <li>{{ item.key }} - {{ item.value }}</li>
        }
      }
    </ul>
  </app-container>

  <app-container [title]="'Create an observable that emits all even integers.'">
    {{ evenIntegers$ | async }}
  </app-container>

  <app-container
    [title]="
      'Create an observable that emits all even integers until it reaches the number 100'
    "
  >
    <div>{{ evenIntegersUpTo100$ | async | json }}</div>
  </app-container>

  <app-container
    [title]="
      'Create an observable that requests a post from an API and logs the result.'
    "
  >
    <p>{{ dummyPost()?.body }}</p>
  </app-container>

  <app-container
    [title]="
      'Create an observable that requests 3 wikipedia articles in parallel and emits once all 3 articles are loaded.'
    "
  >
    @let responses = dummyPosts();
    @if (responses) {
      <ul>
        @for (response of responses; track $index) {
          <li>{{ $any(response).body }}</li>
          <br />
        }
      </ul>
    }
  </app-container>

  <app-container
    [title]="
      'Create an observable that emits a value each time a user click this button.'
    "
  >
    <button (click)="counterIncrease()">Increase counter:</button><br />
    <span>Counter: {{ counter$ | async }}</span>
  </app-container>

  <app-container
    [title]="
      'Create an observable that emits the current time stamp until the user clicks this button.'
    "
  >
    <button (click)="stopWatch()">Stop clock</button><br />
    <span>Current time: {{ currentTimeStamp$ | async }}</span>
  </app-container>
</section>
