<header class="header">
  <h1 class="header_title">
    <a class="header_link" routerLink="">{{ title() }}</a>
    <button (click)="showLoader()">Show Loader</button>
    <button (click)="modalService.openModal()">Show Modal</button>
  </h1>
  <nav class="nav">
    <ul class="nav_list">
      <li class="nav_item">
        <a class="nav_link" routerLink="">Components</a>
      </li>
      <li class="nav_item">
        <a class="nav_link" routerLink="/directives" routerLinkActive="active"
          >Directives</a
        >
      </li>
      <li class="nav_item">
        <a class="nav_link" routerLink="/services" routerLinkActive="active"
          >Services</a
        >
      </li>
      <li class="nav_item">
        <a class="nav_link" routerLink="/pipes" routerLinkActive="active"
          >Pipes</a
        >
      </li>
      <li class="nav_item">
        <a
          class="nav_link"
          routerLink="/miscellaneous"
          routerLinkActive="active"
          >Miscellaneous</a
        >
      </li>
    </ul>
  </nav>
</header>
